body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: rgb(117, 222, 142);
}

.field {
    width: 50%;;
    margin: 0 auto;
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field__info {
    font-size: 25px;
}


.block {
    width: 100px;
    height: 100px;
    border: 1px solid crimson;
    text-align: center;
    font-size: 100px;
    line-height: 94px;
    user-select: none;
}
.block--red {
    background-color: red;
}
.field__wrapper {
    display: flex;
    margin: 0 auto;
    padding-bottom: 50px;
    
    width: 306px;
    flex-wrap: wrap;
}

.field__button {
    display: inline-block;
    outline: none;
    background: none;
    padding: 0;
    border: none;
    margin: 0;
    font-size: 30px;
    background-color: crimson;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 30px 30px;
    cursor: pointer;
}
.field__button:hover {
    background-color: rgb(221, 35, 72);
}
.field__button:active {
    box-shadow: inset 1px 1px 5px -1px;
    background-color: #be0d30;
    color: #f2f2f2;
}

.field__button--restart {
    display: none;
   
    outline: none;
    background: none;
    padding: 0;
    border: none;
    margin: 0;
    margin-left: 25px;
    font-size: 30px;
    background-color: crimson;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 30px 30px;
    cursor: pointer;
}

.points {
    padding-bottom: 30px;
    font-size: 32px;
}

.cross {
    background-image: url("../img/cross.svg");
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
}

.zero {
    background-image: url("../img/zero.svg");
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
}

.field__buttons-wrapper {
    display: flex;
}

.button--showed {
   display: inline-block;
}